//
   Created by krzysztof on 18.03.16.
extends layout
block content

    div(class="container top-20 jumbotron")
        div(class="row")
            div(class="col-lg-4 col-md-4 top-20")
                p(class="text-info") O FIRMIE
                br
                p
                    | Body body jest energicznie rozwijającą się firmą działającą od 2007 roku. Bardzo szybko zyskujemy
                    | kolejnych zadowolonych klientów, zarówno z naszej oferty stolarki, jak również z pełnej i profesjonalnej
                    | obsługi wykonawczej na małych i dużych obiektach. Możemy zaproponować Państwu pełen zakres usług w bardzo
                    | atrakcyjnych cenach. Doświadczenie naszych montażystów znakomicie współgra ze świeżym spojrzeniem na […]